.ciudad {
    padding: 2%;
    margin: 3% 40% 40%;
    max-width: 40%;
    background-color: white;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5)
}

@media (max-width: 500px) {
    .ciudad  {
        margin: 3% 10% 10%;
        max-width: 100%;
    }
  }

.pinkBg {
    background-color: #FBC5D3;
    border-radius: 40px;
}